@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Roboto:wght@500&display=swap');

/* Стили для всей страницы */
:root {
    font-size: 18px;
    /* Backgrounds */
    --page-bg-color: #FBD6AF;
    --header-bg-color: #D2B48C;
    --container-bg-color: #E9C8A6;
    --footer-bg-color: #5A3D21;
    /* Elements */
    --button-color: #F7C287;
}

* {
    font-family: 'Alegreya';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
}

main {
    background-color: var(--page-bg-color);
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: 3.556rem;
}

h2 {
    font-size: 2.222rem;
}

h3 {
    font-size: 1.333rem;
}

h4 {
    font-size: 1.111rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.text-under-h2 {
    font-size: 1.333rem;
    font-weight: 500;
}

.container {
    width: 1020px;
    margin: 0 auto;
    max-width: 80%;
}

section {
    padding: 130px 0;
}

button {
    background: none;
    border: none;
}

.text-button, .price-button {
    font-size: 1.111rem;
    font-weight: 500;
    border-radius: 50px;
    border: 3px solid black;
    background-color: var(--button-color);
}

.text-button {
    width: 214px;
    height: 50px;
}

.price-button {
    width: 244px;
    height: 41px;
    font-family: 'Roboto';
}

/* Header */
.header-container {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--header-bg-color);
    opacity: 0.8;
}

.header-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 2;
}

.header-links {
    display: flex;
    list-style: none;
    width: 677px;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 500;
}

.header-links a:hover {
    color: var(--page-bg-color);
}

/* Приветствующий экран */
.greeting {
    background-image: url('../img/cafe.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.greeting .container {
    width: 100vw;
    height: 80vh;
    max-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.greeting .container h1 {
    color: white;
    margin-bottom: 38px;
}

.greeting .container p {
    color: white;
    font-size: 1.778rem;
}

/* Меню */
.menu-all-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card {
    width: 336px;
    height: 647px;
    background-image: url('../img/Papyrus.png');
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-content {
    width: 270px;
    height: 471px;
}

.menu-description {
    height: 108px;
}

.menu-price {
    font-family: 'Roboto';
}

.menu-buttons {
    display: flex;
    padding-top: 30px;
    margin: 0 auto;
    width: 468px;
    justify-content: space-between;
}

/* Мерч */
.merch {
    background-color: var(--container-bg-color);
}

.merch-all-cards {
    display: flex;
    justify-content: space-between;
}

.merch .container p {
    margin: 50px 0 28px 0;
}

.merch-card {
    width: 321px;
    height: 483px;
    background-image: url('../img/Papyrus2.png');
}

.merch-content {
    width: 244px;
    height: 365px;
}

.merch-buttons {
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

/* Часто задаваемые вопросы */
.questions-list {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questions-capture {
    margin: 16px;
    display: flex;
    justify-content: space-between;
}

.line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
}

/* Бронирование столика */
.reservation {
    background-color: var(--container-bg-color);
}

.reservation .container p {
    margin: 50px 0;
}

.reservation-content {
    display: flex;
    justify-content: space-between;
    height: 551px;
}

.reservation-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 551px;
}

.reservation-form-input {
    height: 45px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    padding: 11px 17px;
    font-size: 1rem;
}

#input-phone, .input-guests, .input-date, .input-time {
    font-family: 'Roboto';
}

.input-guests {
    text-align: center;
    width: 90px;
    height: 45px;
}

.form-table {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.reservation-datetime {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.input-date {
    width: 160px;
}

.input-time {
    width: 120px;
}

.input-wishes {
    height: 76px;
}

.reservation-map {
    width: 629px;
    height: 551px;
    padding-left: 3px;
    background-image: url('../img/papyrusForMap.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Подвал */
.footer-container {
    padding-top: 60px;
    padding-bottom: 45px;
    background-color: var(--footer-bg-color);
}

.footer-container .container {
    height: 168px;
    display: flex;
    justify-content: space-between;
}

.footer-container p,
.footer-container a {
    color: var(--page-bg-color);
}

.footer-container a:hover {
    color: black;
}

.number-and-email,
.footer-first-column,
.second-column-right-side,
.footer-third-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-second-column {
    display: flex;
    width: 195px;
    justify-content: center;
}

.second-column-left-side {
    display: flex;
    align-items: center;
}

.second-column-social-networks {
    display: flex;
    justify-content: space-between;
}

.number-and-email {
    font-size: 1.3333rem;
    height: 90px;
}

.number-and-email p:first-child {
    font-family: 'Roboto';
}